*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    padding: 20px 100px;
    background-color: #2598C5;
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-left{
            width: 20%;
            .logo{
                img{
                    width: 100%;
                }
            }
        }
        .nav-right{
            width: 80%;
            text-align: center;

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0px;
                li{
                    list-style: none;
                    color:white;
                }
            }
        }
    }

}
main{
    padding: 0px;
    #section1{
        background-color:#4DABCD;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .section1-left{
            width: 50%;
            padding: 0px 0px 0px 100px;
            .all-text1{
                color:white;
                width: 60%;
                text-align: start;
            }
        }
        .section1-right{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
    #section2{
        padding: 50px 320px;
        background-color:#4DABCD;
        .all-pictures{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            text-align: center;
            .one-box{
                background-color:white;
                color:black;
                padding: 20px 50px;
                i{
                    padding: 10px 0px;
                }
            }
        }
    }
    #section3{
        background-color:#EAEAEA;
        padding: 50px 0px;
        .big-texts{
            text-align: center;
        }
    }
    #section4{
        background-color:#EAEAEA;
       padding: 50px 170px;
        .all-boxs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .boxs-one{
                background-color:white;
                color:black;
                text-align: center;
                padding: 20px 10px;
                margin-left: 30px;
                img{
                    width: 70%;
                    z-index: -2;
                }
                h4{
                    padding: 10px 0px;
                }
                .dif{
                    color:#1B6EB4;
                }
                .icons{
                    display: flex;
                    align-items:center;
                    padding-left: 100px;
                    i{
                        color:rgb(239, 239, 2);
                    }
                }
                .buttons-text{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .comp{
                        align-items:center;
                        text-align: center;
                        padding: 0px 30px;
                        background-color:white;
                        color:black;
                    }
                    .comp2{
                        align-items:center;
                        text-align: center;
                        padding: 20px 30px;
                        background-color:#E7E7E7;
                        color:black;
                    }
                    .comp3{
                        align-items:center;
                        text-align: center;
                        padding: 0px 30px;
                        background-color:white;
                        color:#1B6EB4;
                    }
                    .comp4{
                        align-items:center;
                        text-align: center;
                        padding: 20px 30px;
                        background-color:#1B6EB4;
                        color:white;
                    }
                }
            }
        }
    }
}
